extends base/_layout
block head
	title News
block page

	section.section-default
		.container
			+breadcrumbs(['Главная', 'Новости'])
			.title-default Новости
		//container
		ul.news-list.news-list-margin-bottom
			li
				+newsOne('Комфортный нетворкинг с кипишологом', '31.10.2019','Информация о нетворкинге и квесте на конференции. и ещё немного длинного описания на всякий случай')
			li
				+newsOne('Банк ВТБ - платиновый партёр конференции SQA Days #26 рамках конференции будут представлены', '31.10.2019','ВТБ расширяет свою ИТ экспертизу и в рамках конференции будут представлены интересные решения...')
			li
				+newsOne('Мы запустили новый сайт', '31.10.2019','Информация о нетворкинге и квесте на конференции. и ещё немного длинного описания на всякий случай')
			- var n = 0
			while n <  9
				- n++
				li
					+newsOne(n + ') Базовый вектор развития связывает нас с нашим прошлым', '31.10.2019','Задача организации, в особенности же социально-экономическое развитие прекрасно подходит для...')
		//news-list
		include include/pagination
	//section-default

