extends base/_layout
block head
	title News Details
block page

	section.section-default.dark-section.section-default-news
		.section-default__bg(style="background-image:url(images/content/news/news-bg-1.jpg)")
		.container
			+breadcrumbs(['Главная', 'Новости', 'Банк ВТБ - платиновый партнёр конференции SQA Days #26'])
			.title-default.title-default-compress Банк ВТБ - платиновый партнёр конференции SQA Days #26
			.share-block
				.share-block__title Поделиться
				.share-list
					li
						a(href="#")
							svg.icon
								use(xlink:href="#vk-social")
					li
						a(href="#")
							svg.icon
								use(xlink:href="#tw-social")
					li
						a(href="#")
							svg.icon
								use(xlink:href="#fb-social")
					li
						a(href="#")
							svg.icon
								use(xlink:href="#in-social")
	section.section-simple
		.container
			.news-details
				.text-block
					p ВТБ расширяет свою ИТ экспертизу и в рамках конференции будут представлены интересные решения, которые можно будет посмотреть, потрогать, потестить. Будет масса активностей, и вы узнаете много нового.
					p ВТБ это не только про финансы, но и серьезные, инновационные ИТ проекты. Эксперты банка будут рады пообщаться с вами!
					p Банк ВТБ (ПАО), его дочерние банки и финансовые организации (Группа ВТБ) — международная финансовая группа, предоставляющая широкий спектр финансово-банковских услуг в России, странах СНГ, Западной Европы, Азии и Африки.
					p Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги. Международная сеть Группы ВТБ насчитывает более 20 банков и финансовых компаний более чем в 20 странах.
					p С более подробной информацией можно ознакомиться на сайте:
						| #{' '}
						a(href="#" target="_blank") www.vtb.ru
					h3 Банк ВТБ стал нашим платиновым партнёром на конференции SQA Days-26.
					.img-block
						img( src="images/content/news/news-img-1.jpg" alt="").img-wide
						.wp-caption Подпись под изображением
					p Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги. Международная сеть Группы ВТБ насчитывает более 20 банков и финансовых компаний более чем в 20 странах.
					h3 Маркированный список
					ul
						li В чем особенности приложения для SmartTV.
						li Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги. Международная сеть Группы ВТБ насчитывает более 20 банков и финансовых компаний более чем в 20 странах.
						li Почему для тестирования приложения для TV нужен большой офис.
					p Докладчики, которые взяли самоотвод или не подали доклад, могут принять участие в конференции по цене, действующей в текущий период.
					p
						a(href="#") Проезд и проживание оплачиваются докладчиками самостоятельно.
					p
						a(href="#") Со-докладчики оплачиваются по полной стоимости.
					p Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги. Международная сеть Группы ВТБ насчитывает более 20 банков и финансовых компаний более чем в 20 странах.
					blockquote «Цитата Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги »
					p Банк ВТБ предоставляет весь спектр банковских услуг через разветвленную региональную сеть. Дочерние организации Группы предоставляют услуги по лизингу, факторингу и другие финансовые услуги. Международная сеть Группы ВТБ насчитывает более 20 банков и финансовых компаний более чем в 20 странах.
					iframe(src='https://sqadays.com/ru/slides-78021-47506.htm' allowfullscreen).iframe-presentation
					iframe(src='https://player.vimeo.com/video/397912933', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')

		//container
	//section-default
	section.section-default
		.container
			.subtitle-default Больше новостей
		//container
		ul.news-list
			li
				+newsOne('Комфортный нетворкинг с кипишологом', '31.10.2019','Информация о нетворкинге и квесте на конференции. и ещё немного длинного описания на всякий случай')
			li
				+newsOne('Банк ВТБ - платиновый партёр конференции SQA Days #26 рамках конференции будут представлены', '31.10.2019','ВТБ расширяет свою ИТ экспертизу и в рамках конференции будут представлены интересные решения...')
			li.hide-tablet
				+newsOne('Мы запустили новый сайт', '31.10.2019','Информация о нетворкинге и квесте на конференции. и ещё немного длинного описания на всякий случай')
		//news-list
	//section-default


