extends base/_layout
block head
	title UI Kit
block page
	section.section-ui
		.container
			ul.ui-icons-list
				li
					.name close
					svg.icon
						use(xlink:href="#close-icon")
				li
					.name profile
					svg.icon
						use(xlink:href="#profile-icon")
				li
					.name search
					svg.icon
						use(xlink:href="#search-icon")
				li
					.name notification
					svg.icon
						use(xlink:href="#notification-icon")
				li
					.name download
					svg.icon
						use(xlink:href="#download-icon")
				li
					.name like
					svg.icon
						use(xlink:href="#like-icon")
				li
					.name comment
					svg.icon
						use(xlink:href="#comment-icon")
				li
					.name lvl-easy
					svg.icon
						use(xlink:href="#lvl-easy")
				li
					.name lvl-medium
					svg.icon
						use(xlink:href="#lvl-medium")
				li
					.name lvl-hard
					svg.icon
						use(xlink:href="#lvl-hard")
				li
					.name fb-social
					svg.icon
						use(xlink:href="#fb-social")
				li
					.name vk-social
					svg.icon
						use(xlink:href="#vk-social")
				li
					.name in-social
					svg.icon
						use(xlink:href="#in-social")
				li
					.name tw-social
					svg.icon
						use(xlink:href="#tw-social")
				li
					.name edit
					svg.icon
						use(xlink:href="#edit-icon")
				li
					.name ok
					svg.icon
						use(xlink:href="#ok-icon")
				li
					.name share
					svg.icon
						use(xlink:href="#share-icon")
				li
					.name filter
					svg.icon
						use(xlink:href="#filter-icon")
				li
					.name favorite
					svg.icon
						use(xlink:href="#favorite-icon")
				li
					.name favorite-filled
					svg.icon
						use(xlink:href="#favorite-filled-icon")
				li
					.name tg
					svg.icon
						use(xlink:href="#tg-icon")
				li
					.name skype
					svg.icon
						use(xlink:href="#skype-icon")
				li
					.name mail
					svg.icon
						use(xlink:href="#mail-icon")
				li
					.name meet
					svg.icon
						use(xlink:href="#meet-icon")
				li
					.name left-arrow
					svg.icon
						use(xlink:href="#left-arrow")
				li
					.name right-arrow
					svg.icon
						use(xlink:href="#right-arrow")
				li
					.name drive-icon
					svg.icon
						use(xlink:href="#drive-icon")
			//ui-icons-list
			.text-block
				h1.h1 H1 текст
				h2.h2 H2 текст
				h3.h3 H3 текст
				h4.h4 H4 текст
				h5.h5 H5 текст
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
				p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
				p
					a(href="#") It was popularised in the 1960s with the release of Letraset
				ul
					li Contrary
					li Various versions have evolved
					li Lorem Ipsum is simply
					li Lorem ipsum dolor sit ame
					li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
					li Excepteur sint occaecat
				ol
					li Contrary
					li Various versions have evolved
					li Lorem Ipsum is simply
					li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
					li Lorem ipsum dolor sit ame
					li Excepteur sint occaecat
			br
		//container
		include include/pagination
	//section-ui

