.cookie-block
	.container.container-wide
		.cookie-line
			.cookie__text Мы используем cookie чтобы сделать конференцию лучше
			.cookie__contol
				button(type="button" data-action="hide-cookie").btn.btn-cookie.js__interactive
					span а я и не против
