mixin toggleBlock(link, ...text)
	.toggle-block
		a(href="#").toggle-block__link= link
		.toggle-block__body
			.text-block
				each item in text
					p= item
.faq-block
	.faq-block__head
		ul.fbh__list
			li
				a(href="#" data-faq="f1").faq-category-link.active
					span Вопросы стоимости
			li
				a(href="#" data-faq="f2").faq-category-link
					span Физ лицам
			li
				a(href="#" data-faq="f3").faq-category-link
					span Юр лицам
	.faq-block__body
		.faq-tab(data-faq="f1" style="display:block")
			.faq-tab__head
				.faq-back__wrap
					a(href="#").faq-back Назад к билетам
				.faq-tab__title Вопросы стоимости
			.faq-tab__body
				+toggleBlock('Об оплате', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Что входит в стоимость', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Покупка в разных валютах', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Скидки для групп', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.', 'Скидки для групп')
				+toggleBlock('Скидки для физических лиц', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Скидки для юридических лиц', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Освобождение от оплаты', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
			//faq-tab__body
		//faq-tab
		.faq-tab(data-faq="f2")
			.faq-tab__head
				.faq-back__wrap
					a(href="#").faq-back Назад к билетам
				.faq-tab__title Физ лицам
			.faq-tab__body
				+toggleBlock('Скидки для групп', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.', 'Скидки для групп')
				+toggleBlock('Скидки для физических лиц', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Скидки для юридических лиц', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Освобождение от оплаты', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
			//faq-tab__body
		//faq-tab
		.faq-tab(data-faq="f3")
			.faq-tab__head
				.faq-back__wrap
					a(href="#").faq-back Назад к билетам
				.faq-tab__title Юр лицам
			.faq-tab__body
				+toggleBlock('Что входит в стоимость', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Покупка в разных валютах', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Скидки для групп', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.', 'Скидки для групп')
				+toggleBlock('Скидки для физических лиц', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
				+toggleBlock('Освобождение от оплаты', 'Оплата за участие в конференции может производиться в российских, белорусских рублях, в долларах и евро (кроме России и Беларуси). Цена в российских и белорусских рублях может изменяться в случае значительного колебания курса в отношении к доллару США.')
			//faq-tab__body
		//faq-tab
	//faq-block__body
//faq-block
