.pagination-block
	a(href="#").pagination-nav.prev Предыдущая
	ul.pugination
		li
			a(href="#") 1
		li
			a(href="#").active 2
		li
			a(href="#") 3
		li
			a(href="#") 4
		li
			span ...
		li
			a(href="#") 69
	a(href="#").pagination-nav.next Следующая
