.search-bar__wrap
	.search-bar
		label.search-bar__label
			input(type="text" placeholder=searchBarPlaceholder ? searchBarPlaceholder:"Поиск" value=searchBarValue ? searchBarValue: '').search-bar__input
		button(type="button").search-bar__btn
			svg.icon
				use(xlink:href="#search-icon")
	//search-bar
//search-bar__wrap
