footer.footer.dark-section
	.container.container-wide
		.footer__main
			.footer__group.footer__group-1
				.footer__menu
					.menu__title О SQA Days /26
					ul.menu__list
						li
							a(href="#") Программа
						li
							a(href="#") Доклады
						li
							a(href="#") Участники
						li
							a(href="#") Организаторы
						li
							a(href="#") Докладчикам
			//footer__group
			.footer__group.footer__group-2
				.footer__menu
					.menu__title Все конференции
					ul.menu__list.menu__list-uppercase
						li
							a(href="#") SQA days
						li
							a(href="#") Analytics days
						li
							a(href="#") ADD
						li
							a(href="#") SQA days EU
						li
							a(href="#") Analytics days EU
			//footer__group
			.footer__group.footer__group-3
				.footer__menu
					ul.menu__list
						li
							a(href="#") Медиа
						li
							a(href="#") Новости
						li
							a(href="#") Партнерам
						li
							a(href="#") Контакты
			//footer__group
			.footer__group.footer__group-4
				.subscribe-block
					form.subscribe-form
						label.subscribe-label
							input(type="email" placeholder="Email" required).subscribe-input
						button.btn.btn-subscribe
							span Подписаться
					.subscribe__text Подпишитесь, чтобы узнавать о новых мероприятиях, встречах и послежних новостях
				ul.footer__partners
					li
						a(href="#" target="_blank").partner-footer
							img( src="images/content/fp-3.svg" alt="")
					li
						a(href="#" target="_blank").partner-footer
							img( src="images/content/fp-2.svg" alt="")
					li
						a(href="#" target="_blank").partner-footer
							img( src="images/content/fp-1.svg" alt="")
			//footer__group
		//footer__main
		.footer__bottom
			.fb__col.fb__col-1
				.copyright it-conf © 2007-2020
				.footer-link__wrap
					a(href="#").footer-link Политика Конфиденциальности
			.fb__col.fb__col-2
				ul.footer__social
					li
						a(href="#" target="_blank") Vkontakte
					li
						a(href="#" target="_blank") Twitter
					li
						a(href="#" target="_blank") Facebook
			.fb__col.fb__col-3
				.developers
					span задизайнено
					| #{' '}
					a(href="#" target="_blank") в 69pixels
		//footer__bottom
	//container
//footer
